.bret-yes {
	text-align: center;
	color: green;
}

.bret-no {
	text-align: center;
	color: red;
}

.bret-maybe {
	text-align: center;
	color: black;
}

.streak {
	text-align: center;
	color: black;
	font-size: 16px;
}