<!DOCTYPE html>
<html lang="en">
<body>
    <h1 class="header">
        <strong class="ribbon-content">Was Bret on time?!</strong>
    </h1>
    {% if isOnTime == 1 %}
        <h1 class="yes">Duh!</h1>
    {% elif isOnTime == -1 %}
        <h1 class="no">No :(</h1>
    {% else %}
        <h1 class="maybe">We'll see</h1>
    {% endif %}
    <h2 class="streak">Streak: {{streak}}</h2>
    {% if checkins %}
        <ul>
            {% for checkin in checkins %}
                <li>{{checkin}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
